<div class="pull-right">
  <button class="icon" (click)="printPage()" ><span class="glyphicon glyphicon-print"></span></button>
<button class="icon" type="button" (click)="increase()">
  <span class="glyphicon glyphicon-font gi-5x"></span>
</button>
<button class="icon" type="button" (click)="decrease()">
  <span class="glyphicon glyphicon-font gi-2x"></span>
</button>
<button class="icon" type="button" (click)="reset()">
  <span class="glyphicon glyphicon-text-background"></span>
</button>
</div>
